$color-primary: #039cd9;


$color-gray: rgb(61, 61, 61);


@mixin dropdown{
    background: rgb(228, 228, 228);
    height: 3rem;
    width: 37rem;
    padding: 1rem;
    text-align: center;
    transition: all .5s;
    text-decoration: none;
    color: #000;
    
}
@mixin dropdownhover{
    background: $color-primary;
    color: #fff;
}