.contactus {
  &__container {
    display: grid;
    grid-template-columns: 0.1fr  minmax(60rem, 1fr) minmax(60rem, 1fr) 0.1fr;
    grid-template-rows: auto auto 5rem;
    background: rgb(218, 218, 218);
  }
  &__header {
    grid-column: 1/-1;
    grid-row: 1/2;
    height: 20rem;
    text-align: center;
    text-transform: capitalize;    
    font-size: 8.2rem;

    color: #fff;
    background: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
      url("../../assets/phone.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-items: center;
    align-content: center;
    align-items: center;
    justify-content: center;

    &-1 {
      text-align: center;
    }
  }
  &__contact {
    grid-column: 3/4;
    grid-row: 2/3;
    align-items: start;
    display: flex;
    flex-direction: column;
    width: 100%;
    font-family: "Raleway";


    &-1{
      margin-left: 2em;

    }

    &-2{
      margin-left: 2em;

    }

    &-header {
      color: #fff;
      text-transform: capitalize;
      font-size: 2.5rem;
      text-align: center;
      border-bottom: 2px solid rgb(236, 236, 236);
      width: 55%;

      margin-top: 1.75rem;
    }
    &-name {
      @include input;
      margin-right: 1rem;

      &-2{
        @include input;
      }
    }
    &-email {
      @include input;
      margin-right: 1rem;
    }
    &-message {
      @include input;
      height: 19rem;
      resize: none;
      font-family: "Raleway";
      width: 53rem;
      margin-left: 3rem;
    }
    &-phone{
      @include input;
      
    }
    &-submit {
      padding: 2rem;
      width: 15rem;
      border: none;
      outline: none;
      background: rgba(0, 0, 0, 0.609);
      color: #fff;
      margin: 0 auto;
      margin-top: 2.5rem;
      font-size: 2rem;
      cursor: pointer;
    }
  }
  &__left {


    
    position: absolute;

    & iframe{
      position: relative;
      height: 40rem;
      width: 55rem;  
      bottom: 24.5rem;
      right: 22rem;
      

      @media(max-width: 1380px){
        height: 40rem;
        width: 45rem;  
        bottom: 20.5rem;
        right: 10rem;
        display: none;
        

      }

      @include respond(laptop){
        
      height: 40rem;
      width: 45rem;  
      bottom: 20.5rem;
      right: 19rem;
      
        
        
       }

      
    }


  }
}


.btn-1 {
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;

  background: rgba(0, 0, 0, 0.09);
  height: 4rem;
  width: 45rem;
  margin-top: 2.5rem;
  margin-left: 8.5rem;
  &:focus {
    outline: none;
  }

  &::before,
  &::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    transition: all 0.2s linear;
    background: #fff;
  }
  &:hover {
    background: rgba(0, 0, 0, 0.5);
    transition-delay: 0.3s;

    &::before,
    &::after {
      width: 100%;
    }
  }
  &:hover span::before,
  &:hover span::after {
    height: 100%;
  }

  &::before,
  &::after {
    transition-delay: 0.2s;
  }
  & span::before,
  span::after {
    transition-delay: 0s;
  }
  &::before {
    right: 0;
    top: 0;
  }
  &::after {
    left: 0;
    bottom: 0;
  }
}
.span {
  &__btn {
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 0.7rem;

    &::before,
    &::after {
      content: "";
      width: 2px;
      height: 0;
      position: absolute;
      transition: all 0.2s linear;
      background: #fff;
    }
  }
}

/*----- button 1 -----*/

.btn-1 span::before {
  left: 0;
  top: 0;
}
.btn-1 span::after {
  right: 0;
  bottom: 0;
}
.btn-1:hover::before,
.btn-1:hover::after {
  transition-delay: 0.3s;
}
.btn-1:hover span::before,
.btn-1:hover span::after {
  transition-delay: 0.2s;
}

.spinner {

  position: relative;
  top: 35rem;
  left: 59rem;
  height: 20rem;
  width: 20rem;

  @media(max-width: 1880px){
    left: 49rem;
    top: 38rem;
    

  }

  @media(max-width: 1780px){
    left: 35rem;
    top: 38rem;
    

  }

  @media(max-width: 1480px){
    left: 35rem;
    top: 38rem;
    

  }

  @media(max-width: 1380px){
    left: 25rem;
    

  }

  @include respond(laptop){
        
    top: 35rem;
    left: 29rem;
    
    
      
      
     }

     
      

     


}

