.dropdown {   
  
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3.7rem;
    left: -8rem;
    z-index: 10;
    transition: all 3s;

    &-1 {
     @include dropdown;
     &:hover{@include dropdownhover }
     
    }
    &-2 {
        @include dropdown;
        border-top: 2px solid black;
        
        &:hover{@include dropdownhover }

    }

    &-3 {
        @include dropdown;
        border-top: 2px solid black;
        &:hover{@include dropdownhover }
    }
    &-4{
      background:transparent;
      height: 4rem;
      width: 35rem;
      
      text-align: center;

    }
  
}


