.homepage {
  &__btn {
      display: none;
      padding: 1.5rem;
      background: rgba($color-primary, .5);
      border: 2px solid #fff;
      border-radius: 1000px;
      margin-top: 3rem;
      font-size: 2rem;
      cursor: pointer;
      &:hover{
          background: $color-primary;
          border: none;
      }


  }
  &__container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 80rem;
    overflow: hidden;
  }
}
.btn{
    &-left{
        margin-left: 20%;
        margin-right: 2.5rem;
    }
    &-rignt{

    }
}

.slide-container {
  width: 100%;
  height: 100%;
  margin: auto;
}

h3 {
  text-align: center;
}

.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background: no-repeat center center fixed;
  background-size: cover;
  height: 700px;
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}

.slide {
  &__container {
    &-header {
      position: relative;
      bottom: 7rem;
      right: 17rem;
      color: #fff;

      & h1 {
        font-size: 8rem;
        text-shadow: 1px 1px 1px;
        margin-bottom: -2rem;
      }
      & h4 {
        font-size: 4rem;
        margin-left: 2rem;
      }
    }
  }
}
