.homepage {
  



  
  &__container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: calc(100vh - 15rem);
    
    background: url('../../assets/handshake.jpg') no-repeat center center;

    @media(max-width: 600px){
      grid-template-columns: 100vw;
      grid-template-rows: 100%;
    }

    &-header{

      align-self: center;
      justify-self: center;  
      margin-top: 3.5rem; 
      
      color: #fff;
      margin-bottom: 14.5rem;
      display: flex;
      flex-direction: column;
      

      & h1 {
        font-size: 9rem;
        text-shadow: 1px 1px 1px;
        margin-bottom: -3rem;

        @include respond(laptopSmall){
         font-size: 6rem;

      }

      }
      & h4 {
        font-size: 4rem;
        margin-left: 2rem;
        
        @include respond(laptopSmall){
          font-size: 3rem;
          margin-left: -1rem;
 
       }
      }

    }

  }
}
.btn{
    &-left{
   
      display: inline-block;
      position: relative;
      background: none;
      border: none;
      color: #fff;
      font-size: 2rem;
      cursor: pointer;    
      background: rgba(0, 0, 0, 0.30);
      height: 8rem;
      width: 25rem;  
      
      text-decoration: none;
      margin: 0 auto;
      text-align: center;
      margin-top: 1.5rem;
      &:focus{
        outline: none;
    }
  
    &::before,
    &::after {
      content: "";
      width: 0;
      height: 2px;
      position: absolute;
      transition: all 0.2s linear;
      background: #fff;
    }
    &:hover{
        background: rgba(0, 0, 0, .6);
        transition-delay: .3s;
  
        &::before,
        &::after{
          width: 100%;
        }
      }
      
    &:hover span::before,
    &:hover span::after{
        height: 100%;
    }

    &::before,
    &::after{
        transition-delay: 0.2s;
    }
    & span::before,
    span::after {
      transition-delay: 0s;
    }
    &::before{
        right: 0;
  top: 0;

    }
    &::after{
        left: 0;
        bottom: 0;

    }
  }}


.span{
  &__btn-1{
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 2rem;
    color: white;

    &::before,
    &::after {
      content: "";
      width: 2px;
      height: 0;
      position: absolute;
      transition: all 0.2s linear;
      background: #fff;
    }

  }
}
.btn-left span::before {
  left: 0;
  top: 0;
}
.btn-left span::after {
  right: 0;
  bottom: 0;
}
.btn-left:hover::before,
.btn-left:hover::after {
  transition-delay: 0.3s;
}
.btn-left:hover span::before,
.btn-left:hover span::after {
  transition-delay: 0.2s;
}



@keyframes btn{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
