.homepage {
  



  
  &__container {
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: calc(100vh - 15rem);
    
    background: url('../../assets/handshake.jpg') no-repeat center center;

    @media(max-width: 600px){
      grid-template-columns: 100vw;
      grid-template-rows: 85vh;
    }

    &-header{

      align-self: center;
      justify-self: center;  
      margin-top: 3.5rem; 
      
      color: #fff;
      margin-bottom: 14.5rem;
      display: flex;
      flex-direction: column;
      

      & h1 {
        font-size: 9rem;
        text-shadow: 1px 1px 1px;
        margin-bottom: -3rem;

        @include respond(laptopSmall){
         font-size: 6rem;


      }

      @media(max-width: 791px){
        font-size: 5rem;
        text-align: center;
      }
      @media(max-width: 600px){
        font-size: 4rem;
      }
      @media(max-width: 500px){
        font-size: 3.5rem;
      }
      @media(max-width: 410px){
        font-size: 3rem;
        
      }
      @media(max-width: 360px){
        font-size: 2.5rem;
        
      }
    }
      & h4 {
        font-size: 4rem;
        margin-left: 2rem;
        
        @include respond(laptopSmall){
          font-size: 3rem;
          margin-left: -1rem;
 
       }
       @media(max-width: 791px){
        font-size: 2.5rem;
      }
      @media(max-width: 645px){
        font-size: 2rem;
        margin-left: 3rem;
        margin-top: 1rem;
      }
      @media(max-width: 600px){
        display: none;
      }
       
      }

    }

  }
}
.btn{
    &-left{
   
      display: inline-block;
      position: relative;
      background: none;
      border: none;
      color: #fff;
      font-size: 2rem;
      cursor: pointer;    
      background: rgba(0, 0, 0, 0.30);
      height: 8rem;
      width: 25rem;  
      
      text-decoration: none;
      margin: 0 auto;
      text-align: center;
      margin-top: 1.5rem;
      
      @media(max-width: 600px){
        display: none;
      }
      &:focus{
        outline: none;

        



    }
  
    &::before,
    &::after {
      content: "";
      width: 0;
      height: 2px;
      position: absolute;
      transition: all 0.2s linear;
      background: #fff;

      
      @media(max-width: 600px){
        display: none;
      }
    }
    &:hover{
        background: rgba(0, 0, 0, .6);
        transition-delay: .3s;
  
        &::before,
        &::after{
          width: 100%;
        }
      }
      
    &:hover span::before,
    &:hover span::after{
        height: 100%;
        
        @media(max-width: 600px){
          display: none;
        }
    }

    &::before,
    &::after{
        transition-delay: 0.2s;
    }
    & span::before,
    span::after {
      transition-delay: 0s;
    }
    &::before{
        right: 0;
  top: 0;

    }
    &::after{
        left: 0;
        bottom: 0;

    }
  }}


.span{
  &__btn-1{
    display: block;
    height: 100%;
    width: 100%;
    padding-top: 2rem;
    color: white;
    
    @media(max-width: 600px){
      display: none;
    }

    &::before,
    &::after {
      content: "";
      width: 2px;
      height: 0;
      position: absolute;
      transition: all 0.2s linear;
      background: #fff;
    }

  }
}
.btn-left span::before {
  left: 0;
  top: 0;
  
  @media(max-width: 600px){
    display: none;
  }
}
.btn-left span::after {
  right: 0;
  bottom: 0;
  
  @media(max-width: 600px){
    display: none;
  }
}
.btn-left:hover::before,
.btn-left:hover::after {
  transition-delay: 0.3s;
  
  @media(max-width: 600px){
    display: none;
  }
}
.btn-left:hover span::before,
.btn-left:hover span::after {
  transition-delay: 0.2s;
  
  @media(max-width: 600px){
    display: none;
  }
}



@keyframes btn{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



.phone{
  

  &-box{
    display: none;



    @media(max-width: 600px){
      display: inline;
      justify-self: center;
      align-self: center;
      height: 40rem;
      width: 40rem;
      border: 2px solid #fff;
      margin-top: 5%;
      display: grid;
      grid-template-rows: 7rem 5rem;
      grid-template-columns: 5rem 10em auto;
    }

    &-1{
      grid-column: 1/-1;
      justify-self: center;
    
      font-size: 4rem;
    }
    
    &-3{
      text-decoration: none;
      color: #fff;
      font-size: 2.5rem;
      justify-self: start;
      align-self: center;
      grid-column: 2/-1;
      grid-row: 2/3;
      display: flex;
      

      & svg{
        height: 2.5rem;
        width: 3rem;
        fill: #fff;
        
        margin-right: 2.5rem;
        margin-top: 1.3rem;
      }
    }

    

  }
 
}
