.navbar {
  display: grid;
  grid-template-columns: minmax(0, 0.7fr) minmax(90rem, 75%) minmax(0, 0.7fr);
  grid-template-rows: 3rem 12rem;
  
 
  top: 0;
  z-index: 89999999;
  
  
  
  &__top {
    grid-column: 1/-1;
    grid-row: 1/2;
    background: rgb(53, 53, 53);
    display: grid;
    grid-template-columns: minmax(0, 0.7fr) minmax(90rem, 75%) minmax(0, 0.7fr);
    grid-template-rows: 3rem;
    
   
    &-left {
      grid-column: 2/3;
      display: flex;
      align-content: center;
      align-items: center;
      margin-left: 7rem;

      &-number {
        color: rgb(255, 255, 255);
        margin-left: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin-right: 3rem;
      }

      & svg {
        fill: rgb(255, 255, 255);
        padding-top: 0.8rem;
        height: 2rem;
        width: 2rem;
      }
    }
  }
  &__bottom {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    background: rgb(248, 248, 248);
    display: grid;
    grid-template-columns: minmax(0, 0.7fr) minmax(90rem, 75%) minmax(0, 0.7fr);
    height: 12rem;

    

    &-icon{
      
    }

    &-logo {
      
         
      grid-column: 2/3;
      grid-row: 1/2;
      

      & img {
        max-width: 29rem;
        height: 12rem;
        margin-left: 5rem;
      }
    }

    &-nav {
      
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: end;
      align-self: center;
     
     
      
      
      & ul {
        list-style-type: none;
        display: flex;
      }

      &-list {
        font-size: 2rem;
        font-weight: 400;
        
        
        

        &:not(:last-child) {
          margin-right: 2rem;
        }

        &-item {
          text-decoration: none;
          color: $color-gray;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          justify-items: center;
          
          transition: all .5s;
          & svg{
            
          height: 1.5rem;
          width: 1.5rem;
           justify-self: center;
           margin-left: .75rem;
           
           
           
      
          }

          &:after {
            position: absolute;
            bottom: -9px;
            left: 0;
            right: 0;
           
            margin: auto;
            width: 0%;
            content: "";
            background: $color-primary;
            height: 2px;
            transition: all .5s;
          }
          &:before{
            transition: all .5s;
          }
          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.highlight {
  color: $color-primary;
}


