.navbar {
  display: grid;
  grid-template-columns: minmax(0, 0.7fr) minmax(90rem, 75%) minmax(0, 0.7fr);
  grid-template-rows: auto auto;
  
 
  @media(max-width: 465px){
    
  }
  
  
  
  &__top {
    grid-column: 1/-1;
    grid-row: 1/2;
    background: rgb(53, 53, 53);
    display: grid;
    grid-template-columns: minmax(0, 0.7fr) minmax(90rem, 75%) minmax(0, 0.7fr);
    grid-template-rows: auto;

    @media(max-width: 522px){
      
    }
    
    
   
    &-left {
      grid-column: 2/3;
      display: flex;
      align-content: center;
      align-items: center;
      margin-left: 7rem;
      @media(max-width: 522px){
      display: grid;
      grid-template-columns: 3rem max-content;
      grid-template: auto auto;
      }
      @media(max-width: 385px){
        margin-left: 2rem;
        }

      &-number {
        color: rgb(255, 255, 255);
        margin-left: 1rem;
        font-family: Arial, Helvetica, sans-serif;
        text-decoration: none;
        margin-right: 3rem;
      }

      & svg {
        fill: rgb(255, 255, 255);
        padding-top: 0.8rem;
        height: 2rem;
        width: 2rem;
        padding-bottom: .9rem;

      
      }
    }
  }
  &__bottom {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    background: rgb(248, 248, 248);
    display: grid;
    grid-template-columns: minmax(0, 0.7fr) minmax(90rem, 75%) minmax(0, 0.7fr);
    height: 12rem;

    @media(max-width: 465px){
    height: 8rem;
    }

    

    &-icon{
      
    }

    &-logo {
      
         
      grid-column: 2/3;
      grid-row: 1/2;
      cursor: inherit;
      

      &-1 {
        max-width: 29rem;
        height: 12rem;
        margin-left: 5rem;
        cursor: pointer;

        @include respond(phoneLarge) {
         
        }

        @media(max-width: 465px){
          display: none;
        }
      }
      &-2{
        display: none;

        @media(max-width: 465px){
        display:inline ;
        max-width: 29rem;
        height: 7rem;
        margin-left: 5rem;
        margin-top: .5rem;
        
        cursor: pointer;
          
        }
      }
    }

    &-nav {
      
      grid-column: 2/3;
      grid-row: 1/2;
      justify-self: end;
      align-self: center;
     
     
      @include respond(phoneLarge) {
        display: none;
      }
      
      & ul {
        list-style-type: none;
        display: flex;
      }

      &-list {
        font-size: 2rem;
        font-weight: 400;
        
        
        

        &:not(:last-child) {
          margin-right: 2rem;
        }

        &-item {
          text-decoration: none;
          color: $color-gray;
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          justify-items: center;
          
          transition: all .5s;
          & svg{
            
          height: 1.5rem;
          width: 1.5rem;
           justify-self: center;
           margin-left: .75rem;
           
           
           
      
          }

          &:after {
            position: absolute;
            bottom: -9px;
            left: 0;
            right: 0;
           
            margin: auto;
            width: 0%;
            content: "";
            background: $color-primary;
            height: 2px;
            transition: all .5s;
          }
          &:before{
            transition: all .5s;
          }
          &:hover {
            &:after {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.highlight {
  color: $color-primary;
}

.phone__nav{

  transition: all .5s;
  height: 4rem;
  width: 4rem;
  text-align: center;
  z-index: 56;
 

  @include respond(phoneLarge) {
      grid-column: 3/4;
      grid-row: 1/2;
      justify-self: center;
      align-self: center;
      margin-right: 4rem;
      cursor: pointer;
      transition: all 1s;
      margin-right: 15rem;

      
  }
  @media(max-width: 870px){
    margin-right: 45rem;
  }
  @media(max-width: 725px){
    margin-right: 65rem;
  }
  @media(max-width: 620px){
    margin-right: 85rem;
  }
  @media(max-width: 520px){
    margin-right: 95rem;
  }
  @media(max-width: 465px){
    margin-right: 100rem;
  }
  @media(max-width: 445px){
    margin-right: 110rem;
  }
  @media(max-width: 445px){
    margin-right: 120rem;
  }
  @media(max-width: 345px){
    margin-right: 130rem;
  }
  @media(max-width: 288px){
    margin-right: 140rem;
  }



  &-1{
    transition: all 1s;
    


    @include respond(phoneLarge) {
      
      
      height: 2px;
      width: 4.5rem;
      background: black;
      opacity: 1;
      transition: all .7s;
      
      
      
    }
   
  }
  &-2{
    @include respond(phoneLarge) {
      height: 2px;
      width: 4.5rem;
      background: black;
      margin-top: .9rem;
      transition: all .3s;
    }


  }
  &-3{

    @include respond(phoneLarge) {
      height: 2px;
      width: 4.5rem;
      background: black;
      margin-top: .9rem;
      transition: all .5s;
    }



  }
  &-4{
    
    @include respond(phoneLarge) {
      display: none;
      transition: all .5s;
      
    }
  }


}

.transition{
 

  &-1{
    transition: all .3s;
    transform: skewY(-45deg);
    margin: 0;
    margin-top: 1.5rem;
    width: 3rem
  }
  &-2{
    transform: skewY(45deg);
    margin: 0;
    width: 3rem;
    transition: all .3s;
  }

  &-3{
    opacity: 0;
    transition: all .3s;
  }

  
  
}

.phoneMenu{
  position: fixed;
  height: 100vh;
  width: 25rem;
  right: 0;
  background: rgba(143, 143, 143, 0.89);
  z-index: 55;  
  transition: all 1s;
  overflow: hidden;
 

  display: flex;
  flex-direction: column;

 
  align-items: center;
  justify-items: center;


  &-1{
    
   @include phoneNav;
    

    
    

    &:hover{
      background: rgba(77, 77, 77, 0.74);
      

    }
    
    
    

  


    & a {
      text-decoration: none;
      color: inherit;
     
      
    }

   
  }
  &-2{
    
    display: flex;
    @include phoneNav;
    

        
    & svg{
      margin-top: 1.3rem;
      margin-left: 1.5rem;
      fill: #fff;
    }


    

    &:hover{
      background: rgba(77, 77, 77, 0.74);

    }

    & a {
      text-decoration: none;
      color: inherit;
     
      
    }

  }
  &-3{
    
    @include phoneNav;


    &:hover{
      background: rgba(77, 77, 77, 0.74);

    }
    & a {
      text-decoration: none;
      color: inherit;
     
      
    }


  }
  &-4{
    
    @include phoneNav;
    


    &:hover{
      background: rgba(77, 77, 77, 0.74);

    }
    & a {
      text-decoration: none;
      color: inherit;
     
      
    }


  }
  &-5{
    height: 12rem;
  }

 
}

.serviceClick{
  display: flex;
  flex-direction: column;
  width: 100%;
  
  & a{
    text-decoration: none;
    color: white;
    width: 100%;
    padding-left: 4rem;

    &:hover{
      background: rgba(77, 77, 77, 0.74);

    }
  }
}