.services {
  &__container {
    display: grid;
    grid-template-columns: minmax(0, 0.7fr) minmax(90rem, 75%) minmax(0, 0.7fr);
    grid-template-rows: auto 12rem;
    background: rgb(255, 255, 255);
    margin-top: -11rem;
  }
  &__header {
    grid-column: 2/3;
    grid-row: 1/2;
    text-transform: capitalize;
    font-size: 5.5rem;
    font-weight: 700;
    color: $color-primary;
    border-bottom: 2px solid #000;
    width: 45%;
    text-align: center;
    margin: 0 auto;
    margin-top: 6rem;
  }&__box{
      
  }
}
